@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

body{
    height: 100vh;
    background: linear-gradient(to top, #1549a0, #6771b7, #9d9dcf, #cfcde7, #ffffff);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imgtop{
    position: relative;
    top: 75px;
    width: 300px;
    
}
.contenedor {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    
    position: relative;

    overflow: hidden;
    border: 4px solid #fff;
    border-radius: 20px;
    box-shadow: 6px 10px 20px  rgba(0, 0, 0, .7);
}
.overbg{

    width: 100%;
    height: 100%;
    position: absolute;
    height: 300px;
    z-index: 15;
    background: rgba(0, 0, 0, .4);
   bottom: -100%;
   transition: all 1s ease;
}

.santa {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(img/Santa.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.santa-corriendo {
    animation: animarSanta 0.25s steps(2) infinite;
}
.santa-estrellado {
    background-position-x: -252px;
}

.bg{
    width: 200%;
    height: 100%;
    background: url(img/BG.png);
    background-size: contain;
   background-size: 50% 100% ;
    position: absolute;

}
.suelo {
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: -10px;
    left: 0;

    background: url(img/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;

}

.snowman{
    width: 70px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(img/SnowMan.png) no-repeat;
}
.stone{
    width: 98px;
    height: 66px;

    background: url(img/Stone.png) no-repeat;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #fff;
    font-size: 30px;
    text-align: right;
}
.your-score{
    width: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    top: 15%;
    font-size: 20px;
    z-index: 100;
    opacity: 0;
    transition: all 2s ease;
}
img{
    width: 500px;
    z-index: 20;
}

.gameover-section{
    width: 60%;
    height: 60%;
    position: absolute;
    z-index: 100;
   margin: auto;
   left: 0;
   right: 0;
   top: 0;
   bottom: -200%;
   text-align: center;
    background: url(img/game\ over.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 1s ease;

 }
 .restart{
    position: absolute;
      top: 60%;
      left: 0;
      right: 0;
      border: none;
      background: rgba(0, 0, 0, 0);
      font-size: 1em;
      color: #fff;
      cursor: pointer;
transition: all 1s ease;
     }
    
@keyframes animarSanta{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}

/* responsive mobile -more-than: Mobile: 540px */
@media only screen and (max-width:540px){
    .contenedor{
        width: 95%;
    }
    .score{
        top: 20px;
    }
    .your-score{
 font-size: 14px;
    }
 .gameover-section{
    width: 90%;
    height: 90%;
 }
 .restart{
    top: 55%;
 }
}